<div id="drrawerr-container">
    <div class="text-container">
        <div class="section-one">Psst!</div>
        <div class="section-two">We are busy planning a <br> surprise for you. Stay Tuned!</div>
        <div class="section-three"><a href="mailto: hello.drrawerr@gmail.com"><i class="fa fa-heart" aria-hidden="true"></i> Write to us?</a></div>
    </div>

    <div class="social-icons">
        <span><a href="https://www.facebook.com/drrawerr" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
        <span><a href="https://www.instagram.com/drrawerr" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
        <span><a href="https://www.dribbble.com/drrawerr" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></span>
        <span><a href="https://www.twitter.com/drrawerr" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
        <span><a href="https://www.behance.com/drrawerr" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></span>
    </div>
    
    <div id="coming-soon-img"><img src="assets/coming-soon-image.png" class="partner-img"></div>
</div>